{% extends "layout.html" %}

{% block title %}
    Team
{% endblock %}

{% block main %}
<h1 id="login-title">Login</h1>

<form class = "search" action="/login" method="post" id="login-form">
    <div>
        <input type="text" class="login-field" name="username" autocomplete="off" placeholder="Username">
    </div>
    <div>
        <input type="text" class="login-field" name="password" autocomplete="off" placeholder="Password">
    </div>

    <p class="error-msg">{{ error_msg }}</p>

    <button class="btn-custom" type="submit">Login</button>
</form>
{% endblock %}