{% extends "layout.html" %}

{% block title %}
    Team
{% endblock %}

{% block main %}
<h1 id="login-title">Login</h1>

<form class = "search" action="/login" method="post" class="input-form">
    <div>
        <input type="text" class="input-field" name="username" autocomplete="off" placeholder="Username">
    </div>
    <div>
        <input type="text" class="input-field" name="password" autocomplete="off" placeholder="Password">
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %} 
            {% for message in messages %}
                <p class="error-msg">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <button class="btn-custom" type="submit">Login</button>
</form>
{% endblock %}